credentials.host <- "ENTER DATABASE IP OR DOMAINNAME"
credentials.user <- "ENTER DATABASE USER"
credentials.password <- "ENTER DATABASE PASSWORD"
credentials.db <- "ENTER DATABASE NAME"
credentials.port <- ENTER DATABASE PORT
credentials.language <- "ENTER LANGUAGE CODE" 
